.app.light {
  --bg-color: #dcdcdc;
  --inverted-bg-color: #474a51;
  --primary-color: #333030;
  --inverted-primary-color: #c3cbde;
  --secondary-color: #4a4342;
  --inverted-secondary-color: #cbe3f5;
}
