.AppLink {

}


.primary {
  color: var(--primary-color);
}
.primary--inverted {
  color: var(--inverted-primary-color)
}
.secondary {
  color: var(--secondary-color);
}
.secondary--inverted {
  color: var(--inverted-secondary-color)
}